[Unit]
Description=BOSWatch
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python2 /opt/boswatch/boswatch.py -f 123.45M -a POC1200
Restart=on-abort

[Install]
WantedBy=multi-user.target
